<div class="cs-work-titlebar">
  <div class="cs-titlebar-name">{{work.name}}</div>
  <div class="cs-titlebar-artist">by {{work.artist}}</div>
  <img class="cs-titlebar-close" src="images/icon-close.svg"  {{action "goToCollection"}}/>
</div>
