<div class="cs-main-topbar">
  <div class="cs-tab-types">
    {{#link-to "works"}}Recordings/Compositions{{/link-to}}
    {{#link-to "accounts"}}Accounts{{/link-to}}
    {{#link-to "plugins"}}Plugins{{/link-to}}
  </div>
</div>
