<div class="cs-plugin-details">
  <div class="plugin-header-container">
    <img class="cs-account-image"
      src="https://i.scdn.co/image/94c531c2ed71ce23d704d7f63a168c0287bbbb23"/>
    <div class="cs-plugin-name">Monegraph</div>
    <div class="cs-plugin-builtby">Built by dotBlockchain, v1.2</div>
    <button class="cs-remove-pluginbtn">Remove Plugin</button>
  </div>
  <div class="plugin-tabs-container">
    {{#link-to "plugins"}}Settings{{/link-to}}
    {{#link-to "plugins"}}About{{/link-to}}
  </div>
  <div class="plugin-enable-container">
    <div class="plugin-enable-title">
      Export Recordings
    </div>
    <div class="plugin-enable-section">
      <div class="plugin-enable-text">
        Use dotBlockchain for completing all relevant track
        meta data, and import your music directly into the
        Spotify music database.
      </div>
      <input type="checkbox" class="plugin-enablebtn"/>
    </div>
  </div>
  <div class="plugin-enable-container">
    <div class="plugin-enable-title">
      Artist Search &amp; Verification
    </div>
    <div class="plugin-enable-section">
      <div class="plugin-enable-text">
        Connect with the Spotify artist database for verifying
        artists in your lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </div>
      <input type="checkbox" class="plugin-enablebtn"/>
    </div>
  </div>
</div>
