<div class="cs-plugin-sidebar">
  <div class="cs-plugin-title">Plugins</div>

  <a href="#" class="cs-plugin-button">Sony Music</a>
  <a href="#" class="cs-plugin-button">Monegraph</a>
  <a href="#" class="cs-plugin-button">ASCAP</a>
  <a href="#" class="cs-plugin-button">Harry Fox</a>
  <a href="#" class="cs-plugin-button">Twitter</a>

  <div class="cs-search-container">
    {{fa-icon "search"}}
    <input type="text" placeholder="Find new plugins" class="cs-plugin-search">
  </div>
</div>