$dark-gray: #404040;
$dark-gray2: #919191;
$dark-gray3: #3f3f3f;
$medium-gray: #a4a4a4;
$medium-gray2: #c8c8c8;
$medium-gray3: #d8d8d8;
$medium-gray4: #9F9F9F;
$medium-gray5: #D2D2D2;
$light-gray: #e2e2e2;
$light-gray2: #eeeeee;
$light-gray3: #cccccc;
$light-gray4: #F4F4F4;
$light-gray5: #EDEDED;
$light-gray6: #DFDFDF;
$dark-gray-text: #4f4f4f;
$link-blue: #3282a6;
$light-blue: rgba(81, 149, 189, 0.06);
$blue: #5195BD;
$green: #A2CF5E;
$light-green: rgba(162, 207, 94, 0.06);
$red: #D0021B;
