.entity-verified {
  width: 38px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
}

.entity-lookup-container {
  border: $general-border;
  border-radius: $general-border-radius;
  margin: $input-margin;
  overflow: hidden;

  .add-resultbtn{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    @include x-browser(transition, opacity 0.2s);
    cursor: pointer;
  }

  .entity-lookup-added {
    border-bottom: $general-border;
    margin: 0 4px;
    padding: 5px;
    display: flex;
    text-transform: none;
    font-weight: 300;
    align-items: center;

    &.disallow-multiple {
      border-bottom: none;
    }

    .entity-name {
      flex: 1;
      font-size: $font-size +.4;
    }

    .entity-unverified {
      color: $medium-gray3;
      font-size: $font-size - 0.3;
      margin-left: 6px;
    }

    .entity-remove {
      color: darken($light-gray3, 20);
      padding-left: 10px;
      cursor: pointer;
    }

  }

  .entity-lookup-input {
    display: flex;
    padding: 10px;

    .add-resultbtn {
      border: 1px solid $medium-gray4;
      color: $medium-gray4;
      opacity: 0.6;
      outline: none;

      &:hover {
        opacity: 1;
      }

      &.hide {
        opacity: 0;
        pointer-events: none;
      }
    }

    svg {
      width: 30px;
      height: 30px;
      g, path {
        fill: $light-gray3;
      }
    }

    .entity-lookup-field{
      border: none;
      flex: 1;
      margin: 0 10px;
      outline: none;
    }

    .entity-add-button {
      padding: 8px 20px;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: $font-size + .1;
      font-weight: 300;
      background-color: $blue;
      opacity: 0;
      @include x-browser(transition, opacity 0.2s);
      cursor: pointer;

      &.focused {
        opacity: 1;
      }
    }
  }

  $side-padding: 10px;
  $header-weight: 600;

  .entity-providers {
    background-color: $light-gray5;
    display: flex;
    padding: 5px $side-padding;
    color: $medium-gray4;
    align-items: center;
    font-weight: $header-weight;

    .entity-provider {
      display: flex;
      margin-left: 10px;
      @include x-browser(transition, opacity 0.2s);

      &.dim {
        opacity: 0.2;
      }
    }
  }

  .search-results-container {
    background-color: $light-gray6;
    display: flex;
    height: 365px;

    ::-webkit-scrollbar {
      display: none;
    }

    .search-result-header{
      color: $medium-gray4;
      padding: 10px $side-padding 5px;
      font-weight: $header-weight;
    }

    .search-results {
      flex: 1;
      overflow-y: auto;

    }

    .search-result {
      display: flex;
      background-color: $medium-gray5;
      padding: 5px $side-padding;
      margin: 2px 0 0 0;
      text-transform: none;
      color: black;
      font-size: $font-size + .25;
      font-weight: 300;
      cursor: pointer;
      @include x-browser(transition, background-color 0.2s, color 0.2s);
      justify-content: space-between;

      .search-result-column {
        flex: 1;
      }

      &:hover, &.info-shown {
        background-color: black;
        color: white;
        margin-right: 0;

        .add-resultbtn{
          opacity: 1;
        }
      }

      .add-resultbtn{
        opacity: 0;
      }
    }

    .search-result-info {
      background-color: black;
      flex: 1;
      color: white;
      padding: 20px;
      text-transform: none;
      overflow-y: auto;
    }
  }
}
